.f-color {
	color: #636363;
}

.f-active-color {
	color: #49bdfb;
}

.bg-color {
	background-color: #42b7fb;
}

.bg-active-color {
	background-color: #f7f7f7;
}

.df-aic {
	display: flex;
	align-items: center;
}

::-webkit-scrollbar {
	display: none;
	width: 0 !important;
	height: 0 !important;
	-webkit-appearance: none;
	background: transparent;
}

.safe-area-inset-bottom {
	height: env(safe-area-inset-bottom);
}
